.button:hover {
  -fx-background-color: rgb(06,171,213);
}

.button:pressed {
  -fx-background-color: rgb(11,185,230);
}
.button {
  -fx-background-color:  rgb(05,145,180);
}
.l{
    -fx-font-size:40px;
}




.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
}
.table-view .column-header {
    -fx-background-color: rgb(05,145,180);
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: black;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}




.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-row-cell:highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}




.combo-box-base {
  -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, #eee;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 3px, 3px, 2px, 1px;
}
 
.combo-box .combo-box-popup .list-cell:hover {
  -fx-text-fill: white ;
  -fx-background-color: rgb(05,145,180) ;
}
 
.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
  -fx-background-color: black ;
  -fx-text-fill: white ;
}
